@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-font-family: 'Poppins', sans-serif;

  /* Text colors */
  --text-default: #35363b;
  --text-alt: #4a4c54;
  --text-subtle: #757c88;
  --text-accent: #9e1b32;
  --text-link: #9e1b32;
  --text-link-hover: #70202c;
  --text-positive: #194b1f;
  --text-negative: #723900;
  --text-info: #012a4c;

  /* Background colors */
  --background-surface: #eeeeee;
  --background-element: #ffffff;
  --background-chip: #dfe2e5;
  --background-positive: #f0f5ef;
  --background-negative: #faf4e6;
  --background-info: #e8f2fc;

  /* Accent colors */
  --accent-primary: #9e1b32;
  --accent-dark: #70202c;
  --accent-neutral: #757C88;
  --accent-info: #0070dd;
  --accent-negative: #dc8e0e;
  --accent-positive: #39a845;
  --accent-link: #9e1b32;

  /* Border colors */
  --border-subtle: #d4d4d4;

  --max-content-width: 1200px;

  /* FormKit overrides */
  --fk-color-primary: var(--accent-primary) !important;
  --fk-color-input: var(--text-default) !important;
  --fk-color-help: var(--text-muted) !important;
  --fk-color-error: var(--text-negative) !important;

  --fk-font-size-label: 1rem !important;
  --fk-font-family-label: var(--text-font-family) !important;
  --fk-font-size-input: 1rem !important;
  --fk-font-family-input: var(--text-font-family) !important;
  --fk-font-family-help: var(--text-font-family) !important;
  --fk-font-family: var(--text-font-family) !important;

  --fk-border-radius: 8px !important;
  --fk-border-box-shadow: 0 0 0 1px var(--accent-neutral) !important;
  --fk-max-width-input: 100% !important;

  /* Basic theming */
  color: var(--text-default);
  background: var(--background-surface);
}


a {
  color: var(--text-link);
}

a:hover {
  color: var(--text-link-hover);
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

p,
span, li {
  font-size: 1.2rem;
  line-height: 2rem;
}

hr {
  color: var(--border-subtle);
}

.formkit-input[type='submit'] {
  width: 100% !important;
  transition: none !important;
}

button, .formkit-input[type='submit'] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem !important;
  font-family: inherit !important;
  font-weight: bold !important;
  background-color: var(--accent-primary);
  color: white;
  cursor: pointer;
  /* transition: all 0.25s; */
}

button:hover, .formkit-input[type='submit']:hover {
  filter: brightness(.9);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2rem;
  border-radius: 16px;
  background: var(--background-element);

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.info {
    border: 1px solid var(--accent-info);
    background: var(--background-info);
    color: var(--text-info);
    border-radius: 8px;
    padding: 0.5rem 1rem;
}
.info.success {
    border-color: var(--accent-positive);
    background: var(--background-positive);
    color: var(--text-positive);
}
.info.error {
    border-color: var(--accent-negative);
    background: var(--background-negative);
    color: var(--text-negative);
}
.info p {
    line-height: 1.5rem;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}
